/*
* general css styles
*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "oswald"; */
  background-color: #eeeeee;
}

h1 {
  font-size: xxx-large;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: xx-large;
  font-weight: 600;
  margin: 0;
  font-family: "oswald-semibold";
}
h3,
h4 {
  font-size: large;
  font-weight: 600;
  margin: 0;
  font-family: "oswald-regular";
}
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}
span {
  font-size: 14px;
}

.sec-container {
  max-width: 1000px;
  width: 90%;
  padding: 0 5%;
  margin: auto;
}

/**
* work experience styles
*/

.work-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 16px;
}

.work-wrapper {
  padding: 10px;
  background: whitesmoke;
  border-radius: 5px;
  transition: 0.5s;
}

.work-wrapper:hover {
  box-shadow: 0 0 5px black;
}

.work-wrapper p {
  font-family: "oswald-light";
}

.worktech-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 5px;
}

/**
* project styles
*/

.project-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
}

.project-wrapper {
  padding: 10px;
  background: whitesmoke;
  border-radius: 5px;
  display: grid;
  transition: 0.5s;
  /**/
  /* border: 1px solid #b5b5b5; */
}

.project-wrapper:hover {
  box-shadow: 0 0 5px black;
  /* margin-top: -10px; */
}

.project-wrapper p {
  font-family: "oswald-light";
}

.project-wrapper .content {
  padding: 10px 0;
  font-size: 14px;
}

.projtech-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: end;
}

/**
* skills styles
*/

.skill-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 5px;
}

.skill-wrapper {
  text-align: center;
  padding: 10px;
}

.skill-content {
  display: grid;
  grid-gap: 4px;
  font-size: 12px !important    ;
}

.skill-content span {
  font-size: 12px;
}

/*
* footer styles
*/

.footer-container {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.footer-container .content {
  padding: 10px 0 20px 0;
  font-size: 14px;
}

.footer-container .icon-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 5px;
}

/*
* other styles
*/

.big-icon {
  font-size: 50px !important;
}

.clickable {
  cursor: pointer;
}

#me,
#work-experience,
#projects,
#skills {
  padding: 30px 0;
}

#footer {
  padding: 20px 0;
}

@media screen and (max-width: 599px) {
  .work-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .project-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 420px) {
  .project-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .skill-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
